In [3]:
%pip install pandas

Collecting pandas
  Using cached pandas-2.3.3-cp310-cp310-macosx_11_0_arm64.whl.metadata (91 kB)
Collecting numpy>=1.22.4 (from pandas)
  Using cached numpy-2.2.6-cp310-cp310-macosx_11_0_arm64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/bcs/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/bcs/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.3.3-cp310-cp310-macosx_11_0_arm64.whl (10.8 MB)
Using cached numpy-2.2.6-cp310-cp310-macosx_11_0_arm64.whl (14.4 MB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4/4 [pandas]2m3/4 [pandas]
Successfully installed numpy-2.2.6 pandas-2.3.3 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

In [19]:
["center_flank", "right_flank", "left_flank", "moving_back"]



data = [
    [0,0,0,1, 4], [0,0,0,2, 4],
    [0,0,1,0, 1], [0,0,1,1, 1], [0,0,1,2, 1],
    [0,0,2,0, 1], [0,0,2,1, 1], [0,0,2,2, 1],
    [0,1,0,0, 1], [0,1,0,1, 1], [0,1,0,2, 1],
    [0,1,1,0, 2], [0,1,1,1, 2], [0,1,1,2, 2],
    [0,1,2,0, 2], [0,1,2,1, 2], [0,1,2,2, 2],
    [0,2,0,0, 1], [0,2,0,1, 1], [0,2,0,2, 1],
    [0,2,1,0, 2], [0,2,1,1, 2], [0,2,1,2, 2],
    [0,2,2,0, 2], [0,2,2,1, 2], [0,2,2,2, 2],
    [1,0,0,0, 0], [1,0,0,1, 0], [1,0,0,2, 0],
    [1,0,1,0, 5], [1,0,1,1, 5], [1,0,1,2, 5],
    [1,0,2,0, 1], [1,0,2,1, 1], [1,0,2,2, 1],
    [1,1,0,0, 5], [1,1,0,1, 5], [1,1,0,2, 5],
    [1,1,1,0, 3], [1,1,1,1, 3], [1,1,1,2, 3],
    [1,1,2,0, 3], [1,1,2,1, 3], [1,1,2,2, 3],
    [1,2,0,0, 1], [1,2,0,1, 1], [1,2,0,2, 1],
    [1,2,1,0, 3], [1,2,1,1, 3], [1,2,1,2, 3],
    [1,2,2,0, 3], [1,2,2,1, 3], [1,2,2,2, 3],
    [2,0,0,0, 0], [2,0,0,1, 0], [2,0,0,2, 0],
    [2,0,1,0, 0], [2,0,1,1, 0], [2,0,1,2, 0],
    [2,0,2,0, 5], [2,0,2,1, 5], [2,0,2,2, 5],
    [2,1,0,0, 0], [2,1,0,1, 0], [2,1,0,2, 0],
    [2,1,1,0, 3], [2,1,1,1, 3], [2,1,1,2, 3],
    [2,1,2,0, 5], [2,1,2,1, 5], [2,1,2,2, 5],
    [2,2,0,0, 5], [2,2,0,1, 5], [2,2,0,2, 5],
    [2,2,1,0, 5], [2,2,1,1, 5], [2,2,1,2, 5],
    [2,2,2,0, 3], [2,2,2,1, 3], [2,2,2,2, 3]
]

data = pd.DataFrame(data, columns=["center_flank", "right_flank", "left_flank", "moving_back", "result"])

data

    center_flank  right_flank  left_flank  moving_back  result
0              0            0           0            1       4
1              0            0           0            2       4
2              0            0           1            0       1
3              0            0           1            1       1
4              0            0           1            2       1
..           ...          ...         ...          ...     ...
75             2            2           1            1       5
76             2            2           1            2       5
77             2            2           2            0       3
78             2            2           2            1       3
79             2            2           2            2       3

[80 rows x 5 columns]

In [20]:
data.to_csv("tactics_combinations.csv", index=False)